body {
    background: white;
    color: #696969;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    display: inline;
}

label {
  font-size: 12px;
}

input[type=text], input[type=password], input[type=search], input[type=submit], textarea, select {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #696969;
  outline: none;
}

input.disabled {
    border: none;
}

a,a:active,a:hover,a:visited {
    color: #7ebe40;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: black;
}

.fieldDescription {
    color: #696969;
    font-size: 10px;
    font-style: italic;
    font-weight: normal;
}

.description {
    color: #696969;
    font-size: 10px;
}

.loginDescription {
  color: #999999;
  font-size: 8pt;
}

.paddedVertical {
    margin: 4px 0px;
}

.paddedHorizontal {
    margin: 0px 4px;
}

.padded {
    margin: 4px;
}

#spinner {
    min-height: 30px;
}

.autoSaveIndicator {
    background: url(../images/spinner.gif) top left no-repeat;
    padding-left: 20px;
}

/**
 * Errors and messages
 */
div
.globalErrorMessage,div.globalMessage {
    font-size: 12px;
    line-height: 15px;
    vertical-align: baseline;
    min-height: 30px;
    display: none;
    padding: 0px;
}

div.globalErrorMessage {
    color: white;
    background: url("../images/icon_error.png") 99% center no-repeat;
    -webkit-background-origin: padding;
    padding: 8px 26px 8px 8px;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-border-radius: 4px;
}

div.globalErrorMessage .simpleMessage,div.globalMessage .simpleMessage {
    font-size: 12px;
    line-height: 18px;
    vertical-align: baseline;
}

div.globalErrorMessage a {
    color: #cc0000;
    text-decoration: underline;
}

div.error {
    color: red;
    font-style: italic;
    font-size: 9pt;
}

form div.error {
  margin-bottom: 6px;
}

div.globalErrorMessage ul {
    margin: 4px 0px;
}

div.friendlyWarning {
  color: #999999;
}

div.friendlyWarning b {
  color: #696969;
}

/**
 * General forms
 */
form {
    padding: 0px;
    margin: 0px;
}

.radioGroup input[type=radio] {
    margin-bottom: 4px;
}

.radioGroup label:after {
    content: "" !important;
}

label.toggleLabel {
  font-size: 10pt;
  color: #7EBE40;
}


/**
 * Autocomplete
 */
.ac_results {
    border: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 1px;
}
.ac_results ul li {
    text-indent: 4px;
    padding: 4px;
}

.ac_results ul li img {
    float: left;
}

.ac_odd {
    background-color: #f2f6f7;
}
.ac_over {
    background-color: #9ab2b6;
}
